<!DOCTYPE html>
<html>
    <head>
        <title>WebRTC Sample</title>
        <meta charset="utf-8">
        <link href="{{.}}/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <input type="text" id="user_name" placeholder="User Name">
        <div id="sample_message"></div>
        <textarea id="input_message"></textarea>
        <button onclick="Page.connect()">Connect</button>
        <button onclick="Page.send()">Send</button>
        <button onclick="Page.close()">Close</button>
        <div class="connected_clients_area" id="client_names">
        </div>
        <div id="received_text_area"></div>
        <div>
            <label for="local_video_usage">
                <input type="checkbox" id="local_video_usage">
                Use Local Video
            </label>
            <div>Local Video</div>
            <video id="local_video" muted>Video stream not available.</video>
            <div>Remote Videos</div>
            <div id="remote_track_area"></div>
        </div>
        <div>
            <div>DataChannel</div>
            <div>        
                <button onclick="Page.sendTextDataChannel()">Send Text</button>
            </div>
            <div id="received_datachannel_area"></div>
        </div>
        <script src="{{.}}/js/main.page.js"></script>
        <script>Page.init('{{.}}');</script>
    </body>
</html>